<section class="form">
  <div class="wrap">
    <ul>
<%= form_for @task do |f| %>
  <li><%= f.label :Title %></li>
  <li><%= f.text_field :title %></li>
  <li><%= f.label :Description %></li>
  <li><%= f.text_field :description %></li>
  <li><%= f.label :completed %></li>
  <li><%= f.date_field :completed_at %></li>
  <button class="submit"><li><%= f.submit "Submit" %></li></button>
<% end %>
  </ul>
</div>
</section>
