<h1>List of Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to "#{task.title}", task_path(task) %><br/>
      <%= link_to "Edit", task_edit_path(task) %>
      <%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %><br/>

      <%=' Task Completed: '%>
      <% if task.task_complete %>
        <%= "Yes" %>
      <% else %>
        <%= "No" %>
        <%= button_to "mark completed", task_completed_path(task.id), method: :patch %><br/>
      <% end %>
    </li><br/>
  <% end %>
  <li><%= link_to "Create new task", tasks_new_path %></li>
</ul>
