 <h1>Single Task</h1>

 <ul>
   <li>Title: <%= @task.title %></li>
   <li>Description: <%= @task.description %></li>
   <li>Completed_date: <%= @task.date%></li>
 </ul>

<p><%= link_to "Edit", task_edit_path %>
<%= link_to "Back", tasks_path %></p>
