<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="top-bar">
    <nav>
      <div class="wrap">
      <div class="top-bar-left">
      <h3 class="title"><%= link_to "Welcome to Task List!", root_path %></h3>
      </div>
      <div class="top-bar-right login">
        <% if session[:user_id] %>
        <%= button_to "Log out", sessions_path, method: :delete %>
        <% else %>
        <%= button_to "Log In", "/auth/github" %>
        <% end %>
        <%= flash[:notice] %>
      </div>
    </div>
    </nav>
    </div>
  </header>
  <%= yield %>
</body>
<footer>
</footer>
</html>
