<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h3><%= link_to "Welcome to Task List!", root_path %></h3>
    <nav>
      <% if session[:user_id] %>
      <%= button_to "Log out", sessions_path, method: :delete %>
      <% else %>
      <%= button_to "Log In", "/auth/github" %>
      <% end %>
      <%= flash[:notice] %>
      <%# flash[:errors] %>
    </nav>
  </header>
  <%= yield %>
</body>
</html>
